extends layout

block content
  // partial
  .row
    .col-md-12.grid-margin
      .row
        .col-12.col-xl-8.mb-4.mb-xl-0
          h1= message
          h2= error.status
          pre #{error.stack}
